@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --firstgradient: linear-gradient(
    45deg,
    #6dd5ed,
    #ffafbd,
    #753a88,
    #dc2430,
    #36d1dc
    );
  
  --secondgradient: linear-gradient(
  45deg,
  #1d2671,
  #c33764,
  #ff7e5f,
  #ed4264,
  #4e4376
  );
}

.tabs{
  height: 120vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  background: #00214d;
  width: 100%;
  height: 100%;
}
body::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondgradient);
  background-size: 400%;
  animation: bg-animation 20s infinite alternate;
  clip-path: circle(30% at right 70%);
}
body::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--firstgradient);
  background-size: 400%;
  animation: bg-animation 20s infinite alternate;
  clip-path: circle(20% at 10% 10%);
  z-index: -1;
}

@keyframes bg-animation{
  0% {background-position: left}
  100% {background-position: right;}
}

.container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: nowrap;
  z-index: 1;
  margin: auto;
}

.container .card {
  position: relative;
  width: 280px;
  height: 360px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(225,225,225,0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(225,225,225,0.1);
  border-left: 1px solid rgba(225,225,225,0.1);
  backdrop-filter: blur(5px);
}
.container .card .content{
  padding: 20px;
  text-align: center;
  transform: translateY(70px);
  opacity: 0.3;
  transition: 0.5s
}
.container .card:hover .content{
  transform: translateY(10px);
  opacity: 1;
}
.container .card .content h3{
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.container .card .content p{
  font-size: 1em;
  color: #fff;
  font-weight: 400;
}
.container .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #00214d;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4)
}
.notes{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://www.mrflemingscience.com/uploads/5/7/1/1/57111759/paper-airplanes-shutterstock-43792207-800x460_orig.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 30px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 10px 40px;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
}
ul li a:hover{
  background-color: #fff;
  color: #00214d;
  transition: 0.5s ease;
}
.main{
  max-width: 1500px;
  margin: auto;
}
ul li.active a{
  background-color: #fff;
  color: #00214d;
}
.title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color: #fff;
  font-size: 65px;
}
.subheading{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.subheading h1{
  color: #fff;
  font-size: 65px;
}

.text{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000;
  font-size: 22px;
  width: 1000px;
  font-family: 'Poppins', sans-serif;
}

.logo img{
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  width: 50px;
  height: auto;
  z-index: 1;
}
